<div class="not-found-page">
    <div class="not-found-page__content">
        <div class="not-found-page__title">
            <img class="not-found-page__title-img" src="./assets/hot-found/logo.svg" alt="logo">
            <h3 class="not-found-page__title-text">Angular</h3>
        </div>
        <mat-card class="not-found-page__card">
            <mat-card-content class="not-found-page-content">
                <h1 class="not-found-page__card-title">{{type}}</h1>

                <p class="not-found-page__card-sub-title">{{title}}</p>
                <p class="not-found-page__card-sub-title-second">{{desc}}</p>

                <button class="not-found-page__card-button" mat-raised-button color="primary">Back to Home</button>

            </mat-card-content>
        </mat-card>
    </div>
</div>