<mat-nav-list class="mat-list-base">
    <ng-container *ngFor="let item of menuItems">
        <div *ngIf="item.isTitle">
            <mat-list-item routerLink="item.link">
                <!--  <mat-icon class="mat-icon">{{item.icon}}</mat-icon> -->
                <span class="sidebar-title">{{ item.label }}</span>
            </mat-list-item>
        </div>
        <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="!item.isTitle">
            <mat-expansion-panel-header *ngIf="hasItems(item)" class="sidebar-title"> {{ item.label }} </mat-expansion-panel-header>
            <mat-nav-list>
                <div *ngFor="let subitem of item.subItems">
                    <a mat-list-item [routerLink]="subitem.link" *ngIf="!hasItems(subitem)" routerLinkActive="['is-active']">
                        <!-- <mat-icon class="mat-icon">{{subitem.icon}}</mat-icon> -->
                        <span class="mat-list-item"> {{ subitem.label }}</span>
                    </a>
                </div>
            </mat-nav-list>
        </mat-expansion-panel>
    </ng-container>

</mat-nav-list>